
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.right-floating-menu {
  position: fixed;
  top: 100px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.right-floating-menu button{
  padding: 5px 6px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
